<div class="card mb-4">
  <div class="card-img-wrapper">
    <img src="{{member.photoUrl || './assets/user.png'}}" alt="{{member.knownAs}}" class="card-img-top">
    <ul class="list-inline member-icons animate text-center">
      <li class="list-inline-item">
        <button routerLink="/members/{{member.username}}" class="btn btn-primary">
          <fa-icon [icon]="faUser"></fa-icon>
        </button>
      </li>
      <li class="list-inline-item">
        <button class="btn btn-primary"><fa-icon [icon]="faHeart"></fa-icon></button>
      </li>
      <li class="list-inline-item">
        <button class="btn btn-primary"><fa-icon [icon]="faEnvelope"></fa-icon></button>
      </li>
    </ul>
  </div>
  <div class="card-body p-1">
    <h6 class="card-title text-center mb-1"><fa-icon [icon]="faUser"></fa-icon> {{member.knownAs}}</h6>
    <p class="card-text text-muted text-center">{{member.city}}</p>
  </div>
</div>
