<div id="registerArea">
  <h1 class="text-center text-primary">Sign Up</h1>
  <hr>
  <form [formGroup]="registerForm" (ngSubmit)="registerForm.valid && register()" autocomplete="off">

    <div class="form-group">
      <label class="control-label" style="margin-right: 10px;"></label>
      <label class="radio-inline">
        <input type="radio" value="male" formControlName="gender"> Male
      </label>
      <label class="radio-inline">
        <input type="radio" value="female" formControlName="gender" class="ml-3"> Female
      </label>

    </div>

    <app-text-input
      [formControl]='$any(registerForm).controls["username"]'
      [label]='"Username"'>
    </app-text-input>

    <app-text-input
      [formControl]='$any(registerForm).controls["knownAs"]'
      [label]='"Known As"'>
    </app-text-input>

    <app-date-input
      [formControl]='$any(registerForm).controls["dateOfBirth"]'
      [label]='"Date of Birth"'
      [maxDate]="maxDate">
    </app-date-input>

    <app-text-input
      [formControl]='$any(registerForm).controls["city"]'
      [label]='"City"'>
    </app-text-input>

    <app-text-input
      [formControl]='$any(registerForm).controls["country"]'
      [label]='"Country"'>
    </app-text-input>

    <app-text-input
      [formControl]='$any(registerForm).controls["password"]'
      [label]='"Password"'
      [type]='"password"'>
    </app-text-input>

    <app-text-input
      [formControl]='$any(registerForm).controls["confirmPassword"]'
      [label]='"Confirm Password"'
      [type]='"password"'>
    </app-text-input>

    <div class="row" *ngIf="validationErrors.length > 0">
      <ul class="text-danger">
        <li *ngFor="let error of validationErrors">
          {{error}}
        </li>
      </ul>
    </div>

    <div class="text-left">
      <button [disabled]="!registerForm.valid" type="submit" class="btn btn-primary">Register</button>
    </div>
  </form>
</div>
<div class="text-center">
  <button type="button" class="btn btn-link" (click)="cancel()">Cancel</button>
</div>
