<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand" routerLink="/">Dating App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <ng-container *ngIf="accountService.currentUser$ | async">
        <li class="nav-item" >
          <a class="nav-link" routerLink="/members" routerLinkActive="active">Matches</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/lists" routerLinkActive="active">Lists</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/messages" routerLinkActive="active">Messages</a>
        </li>
        </ng-container>
        <li class="nav-item">
          <a class="nav-link" routerLink="/errors" routerLinkActive="active">Errors</a>
        </li>
      </ul>

      <ul class="navbar-nav" dropdown *ngIf="(accountService.currentUser$ | async) as user">
        <img src="{{user.photoUrl || './assets/user.png'}}" alt="{{user.username}}">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" dropdownToggle id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
            Welcome {{user.username | titlecase}}
          </a>
          <div class="dropdown-menu" *dropdownMenu aria-labelledby="navbarDropdown">
            <a routerLink="/member/edit" class="dropdown-item">Edit Profile</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" (click)="logout()">Logout</a>
          </div>
        </li>
      </ul>

      <form #loginForm="ngForm" class="form-inline my-2 my-lg-0" (ngSubmit)="login()" autocomplete="off" *ngIf="(accountService.currentUser$ | async) === null">
        <input
          name="username"
          [(ngModel)]="model.username"
          class="form-control mr-sm-2"
          type="text"
          placeholder="Username"
          aria-label="Username">
        <input
          class="form-control mr-sm-2"
          name="password"
          [(ngModel)]="model.password"
          type="password"
          placeholder="Password"
          aria-label="Password">
        <button class="btn btn-success my-2 my-sm-0" type="submit">Login</button>
      </form>
    </div>
  </div>
</nav>
